*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes anim1{
  from{background-color: rgb(255,49,49);width: 50%;height: 50px;}
  to{background-color: rgb(50,192,193);width: 90%;height: 200px;}
}
@keyframes anim2{
  from{background-color: rgb(50,192,193);width: 90%;height: 50px;}
  to{background-color: rgb(255,49,49);width: 50%;height: 200px;}
}

@keyframes ani {
  from{width: 300px;height: 300px;}
  to{width: 350px;height: 350px;}
  
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes oscillate {
  from {
      transform: translateX(-5px);
  }
  to {
      transform: translateX(5px);
  }
}

body{
  
  background-image: url('../images/fundo.avif');
  
 
}




/* começa o menu */
nav {
display: flex;
width: 72%;
align-items: center;
justify-content: center;
background-color: #333;
padding: 5px 0;
}

nav a {
text-decoration: none;
color: #fff;
font-size: 14px;
margin: 0 10px;
position: relative;
}

nav a::after {
content: '';
display: block;
height: 2px;
width: 0;
background-color: #3498db;
position: absolute;
bottom: 0;
left: 0;
transition: width 0.3s;
}

nav a:hover::after {
width: 100%;
}
/* termina o menu */

/* logo*/
.logo-body {
display: flex;
align-items: center;
justify-content: center;
height: 150px;
margin: 0;
background-color: #000000;
}

.logo {
font-family: 'Lobster', cursive;
font-size: 4em;
font-weight: bold;
color: green;
text-shadow: 0 0 10px rgba(42, 122, 42, 0.8);
animation: oscillate 2s infinite alternate;

}

.aa {
text-decoration: none;
}

/* fim do logo */

h1{
  color: rgb(0, 0, 0);
  font-size: 30;
  font-family: sans-serif;
  
}
.head{
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15%;
  


  
}
.h3{
  margin: 5px;
  font-size: 18;
  
}

.header{
  display: flex;
  align-items: center;
  background-color: black;
  width: 90%;
  height: 100px;
  background-color: 50,192,193;
  animation-name: anim11;
  animation-duration: 7s;
  animation-iteration-count: 1;
  
  margin: 5%;
}
/* Estilos para telas de PC */
@media only screen and (min-width: 768px) {
  /* Seus estilos para telas de PC aqui */
}

.cadastro {
  display: flex;
  flex-direction: column;
  
}

.cadastro1 {
  display: flex;
  
}

h3, input {
  justify-items: center;
  margin: 0 10px;
}

.conteiner{
  width: 90%;
  height: 400px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-around;
  flex: 0.5;
}
.dentro{
  width: 250px;
  height: 300px;
  background-color: rgb(42, 122, 42);
  animation-name: anii;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  
  justify-content: space-around;
}
.aling {
display: flex;
padding: 15px;
align-items: center;
justify-content: space-around;
}
.guiii{
  width: 65%;
  height: 300px;
  padding: 20px;
  background-color: rgb(42, 122, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  
  justify-content: center;
}
img{
  width: 280px;
  height: 280px;
  
}

h3{
  margin: 5px;
}

.links img {

width: 30px;
height: 30px;
margin: 8px;

}

/* Aplica a animação aos itens de texto */
.text-item {
  overflow: hidden; /* Garante que o texto não apareça antes da animação */
  white-space: nowrap; /* Evita quebras de linha */
  
  margin: 0 auto; /* Centraliza o texto no contêiner */
  position: relative; /* Adiciona posição relativa para posicionar o cursor */
  animation: typing 2s steps(40, end) forwards;
  text-align: center; /* Alinha o texto ao centro após a animação */
  display: inline-block; /* Permite a aplicação de margin: 0 auto; */
  color: aliceblue;
}

/* Adiciona um atraso incremental para cada item de texto */
.text-item:nth-child(1) {
  animation-delay: 0.5s;
}

.text-item:nth-child(2) {
  animation-delay: 2.5s;
}

.text-item:nth-child(3) {
  animation-delay: 4.5s;
}

/* Adiciona um cursor piscante */
.text-item::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.ff{
  display: flex;
  
  
}
/* projetos */
section {
  text-align: center;
  padding: 40px 0;
  background-color: #333533;
  color: #fff;
  width: 90%;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project {
  width: 250px;
  margin: 20px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.project:hover {
  transform: scale(1.05);
}

.project-info {
  padding: 15px;
  background-color: #000000;
  border-radius: 0 0 8px 8px;
}

h3, p {
  margin: 0;
}
/* fim dos projetos*/
/* formações*/
.formaca {
text-align: center;
padding: 40px 0;
background-color: #000000;
color: #fff;
}

.formacoes {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 20px;
}

.formacao {
position: relative;
width: 200px;
margin: 20px;
overflow: hidden;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s;
}

.formacao:hover {
transform: scale(1.05);
}

.formacao img {
width: 100%;
height: auto;
border-radius: 8px 8px 0 0;
}

.formacao-info {
padding: 20px;
background-color: #1e2326;
border-radius: 0 0 8px 8px;
}

h3, p {
margin: 0;
}
/*fim das formaçoes*/
/* contato */
.contat {
text-align: center;
padding: 40px 0;
background-color: #1e2326;
color: #fff;
}

.form-contato {
max-width: 600px;
margin: 0 auto;
}

label {
display: block;
margin-bottom: 10px;
color: #fff;
}

input,
textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

button {
padding: 10px 20px;
font-size: 16px;
background-color: #2ecc71;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}
/* fim do contato */
/* roda pe */
footer {
text-align: center;
padding: 20px 0;
background-color: #333;
color: #fff;
}