<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevGUI: Meu Mundo Full Stack</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-cadastro.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
</head>
<body>
    
  <header class="header">

    <section class="logo-body">        
        
      <a class="aa" href="/"><div class="logo">&lt;DevGUI&gt;</div></a>
      
    </section>

  </header>

  <section class="conteiner">
    <div class="dentro">
      <img src="{{ url_for('static', filename='images/eu.jpg') }}" alt="">
    </div>

    <div class="guiii">
      <div class="ff"><h1 class="text-item">Cadastre-se</h1></div>
        <br></br>
        
          <div class="te">
            <div class="cadastro">
              <form method="POST" action="/cadastrar">
                <div class="cadastro1">
                    <h3>Nome:</h3>
                    <input type="text" name="nome" id="nome">
                </div>
                
                <div class="cadastro1">
                    <h3>Email:</h3>
                    <input type="email" name="email" id="email">
                </div>
                
                <div class="cadastro1">
                    <h3>Idade:</h3>
                    <input type="text" name="idade" id="idade">
                </div>
                
                <div class="cadastro1">
                    <h3>Senha:</h3>
                    <input type="password" name="senha" id="senha">
                </div>
                
                <div class="aling">
                    <button class="log">Cadastrar</button>
                </div>
            </form>
            

            
        <div>
          <h4>Ou</h4>
          <br>
          <a href="/"><button class="cad">Voltar</button></a>
        </div>

      </div>      
    </div>

  </section>

  <footer>
      <p>&copy; 2023 DevGUI. Todos os direitos reservados.</p>
  </footer>

</body>
</html>
