<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevGUI: Meu Mundo FullStack</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
  
</head>
<body>

    <form action=""></form>
    
  <header class="header">
  
    <section class="logo-body">

        <a class="aa" href="/"><div class="logo">&lt;DevGUI&gt;</div></a>

    </section>

    <nav class="headerr">
        <a href="/">Home</a>
        <a id="projetos" href="#projetosSection">Projetos</a>
        <a id="contato" href="#contato">Contato</a>
        <a href="login"><button>Login</button></a>
        <a href="cadastro"><button class="button-sign-in">Sign-in</button></a>
    </nav>
    
  </header>

  <section class="conteiner">
    <div class="dentro">
      <img src="{{ url_for('static', filename='images/eu.jpg') }}" alt="">
    </div>

    <div class="guiii">
        <div class="ff"><h1 class="text-item">{{nome}}</h1></div>
        <div>
            <br></br>
            <p><h3>Desenvolvedor web que encontra fascínio na complexidade dos códigos e na resolução de desafios. Estou animado para conversar contigo sobre como minha paixão pela programação e meu conjunto de habilidades podem contribuir de forma única para a equipe. Vamos explorar juntos!</h3></p>
        </div>

        <div class="links">
            <br>
            <a href="https://github.com/DevGuilhermeg" target="_blank"><img src="{{ url_for('static', filename='images/github.png')}}" alt=""></a>
            <a href="https://www.linkedin.com/in/guilherme-gomes-291459293" target="_blank"><img src="{{ url_for('static', filename='images/linkedin.jpeg')}}" alt=""></a>
            <a href="mailto:netmultiverso@gmail.com" target="_blank"><img src="{{ url_for('static', filename='images/e-mail.png')}}" alt=""></a>
            <a href="https://wa.me/5511940431906" target="_blank"><img src="{{ url_for('static', filename='images/whatsapp.png')}}" alt=""></a>
        </div>  
    </div>
    </div>

  </section>

  <section id="projetosSection">

    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="fecharModal()">&times;</span>
          <div class="modal-TD">
            <h2 id="projetoTitulo"></h2>
            <p id="projetoDescricao"></p>
            <div id="container"></div>
          </div>
          <div class="modal-buttons">

            <button id="botaoAbrirProjeto1"  onclick="abrirProjetoEspecifico()"><a href="https://api-usuarios-tvdy.onrender.com/pessoas" target="_blank">
                Abrir
            </a></button>
            <button id="botaoCadastroProjeto1"  onclick="cadastrarProjetoEspecifico()"><a href="cadastro">Cadastrar</a></button>
            <button id="botaoLoginProjeto1"  onclick="loginProjetoEspecifico()"><a href="login">Login</a></button>
      
            
          </div> 
        </div>
      </div>
      
    <h2>Meus Projetos</h2>
    <div class="projects">

        <div class="project">

            <img src="{{ url_for('static', filename='images/API.png') }}" alt="Projeto 1">
            <div class="project-info">
                <h3>API Registro de Usuário</h3>
                <br>
                <p><h5>Api criada com Flask para registrar usuário do próximo projeto!</h5></p>
                <br>
                <div>
                    <a href="https://github.com/DevGuilhermeg/user-registration-api" target="_blank"><button>GitHub</button></a>
                    <button id="openModalBtn" onclick="abrirProjeto('API Registro de Usuário', 'API de Cadastro de Pessoas: Agora online, nossa API permite gerenciar usuários. Listar, cadastrar, excluir e fazer login são operações disponíveis. Os botões para abrir, cadastrar e fazer login estão abaixo. Explore as funcionalidades para interagir com facilidade.')">
                        Ver mais
                    </button>
                </div>
            </div>
        </div>

        <div class="project">
            <img src="{{ url_for('static', filename='images/Encurtador.png') }}" alt="Projeto 2">
            <div class="project-info">
                <h3>Encurtador de links</h3>
                <br>
                <p><h5>Encurtador de links usando Python, html e css</h5></p>
                <br>
                <div>
                    <a href="https://github.com/DevGuilhermeg/encurtador-de-link" target="_blank"><button>GitHub</button></a>
                    <button id="openModalBtn">
                        <a href="https://encurtador-de-link-production.up.railway.app/" target="_blank">
                            Abrir
                        </a>                        
                    </button>
                    
                </div>
            </div>
            
        </div>

        <div class="project">
          <img src="{{ url_for('static', filename='images/em-breve.jfif') }}" alt="Projeto 3">
          <div class="project-info">
              <h3>Projeto 3</h3>
              <p><h5>Em breve...</h5></p>
          </div>
        
      </div>
        
    </div>
  </section>
<section class="formaca">
    <h2>Minhas Formações</h2>
    <div class="formacoes">
        <div class="formacao">
            <img src="{{ url_for('static', filename='images/python.png') }}" alt="Python">
            <div class="formacao-info">
                <h3>Python</h3>
                <p>Desenvolvimento Web com Python e Flask</p>
            </div>
        </div>
        <div class="formacao">
            <img src="{{ url_for('static', filename='images/html.png') }}" alt="HTML">
            <div class="formacao-info">
                <h3>HTML 5</h3>
                <p>Curso Avançado de HTML5</p>
            </div>
        </div>
        <div class="formacao">
            <img src="{{ url_for('static', filename='images/css3.png') }}" alt="CSS">
            <div class="formacao-info">
                <h3>CSS 3</h3>
                <p>Mastering CSS Layouts</p>
            </div>
        </div>
        
        <div class="formacao">
            <img src="{{ url_for('static', filename='images/js5.png') }}" alt="JavaScript">
            <div class="formacao-info">
                <h3>JavaScript 5</h3>
                <p>JavaScript Moderno</p>
            </div>
        </div>

        <div class="formacao">
            <img src="{{ url_for('static', filename='images/PostigresSQL.png') }}" alt="JavaScript">
            <div class="formacao-info">
                <h3>PostigreSQL</h3>
                <p></p>
            </div>
        </div>

        
    </div>
</section>
<section id="contato" class="contat">
    <h2>Entre em Contato</h2>
    <div class="form-contato">
        <form action="{{ url_for('processa_formulario') }}" method="post">
            

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" rows="4" required></textarea>

            <button type="submit">
                Enviar   
            </button>
        </form>
    </div>
</section>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<footer>
    <p>
        &copy; 2023 DevGUI. Todos os direitos reservados.
    </p>
</footer>
</body>
</html>
