<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevGUI: Meu Mundo Full Stack</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
  
</head>
<body>
    
  <header class="header">
  
    <section class="logo-body">

        <a class="aa" href=""><div class="logo">DevGUI</div></a>

    </section>

    <nav>
        <a href="#">Home</a>
        <a id="projetos" href="#projetosSection">Projetos</a>
        <a id="contato" href="#contato">Contato</a>
        <a href="#">Sobre-mim</a>
        <a href="login"><button>Login</button></a>
        <a href="cadastro"><button>Cadastre-se</button></a>
    </nav>
    
  </header>

  <section class="conteiner">
    <div class="dentro">
      <img src="{{ url_for('static', filename='images/eu.jpg') }}" alt="">
    </div>

    <div class="guiii">
        <div class="ff"><h1 class="text-item">{{nome}}</h1></div>
        <div>
            <br></br>
            <p><h3>Desenvolvedor FullStack que encontra fascínio na complexidade dos códigos e na resolução de desafios. Estou animado para conversar contigo sobre como minha paixão pela programação e meu conjunto de habilidades podem contribuir de forma única para a equipe. Vamos explorar juntos!</h3></p>
        </div>

        <div class="links">
            <br>
            <a href="https://github.com/DevGuilhermeg" target="_blank"><img src="{{ url_for('static', filename='images/github.png')}}" alt=""></a>
            <a href="https://www.linkedin.com/seu-perfil-link" target="_blank"><img src="{{ url_for('static', filename='images/linkedin.jpeg')}}" alt=""></a>
            <a href="mailto:netmultiverso@gmail.com" target="_blank"><img src="{{ url_for('static', filename='images/e-mail.png')}}" alt=""></a>
            <a href="https://wa.me/5511940431906" target="_blank"><img src="{{ url_for('static', filename='images/whatsapp.png')}}" alt=""></a>
        </div>  
    </div>
    </div>

  </section>

  <section id="projetosSection">

    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="fecharModal()">&times;</span>
          <div class="modal-TD">
            <h2 id="projetoTitulo"></h2>
            <p id="projetoDescricao"></p>
            <div id="container"></div>
          </div>
          <div class="modal-buttons">
            <button id="botaoAbrirProjeto1" style="display: none" onclick="abrirProjetoEspecifico()"><a href="https://api-usuarios-tvdy.onrender.com/pessoas" target="_blank">Abrir</a></button>
            <button id="botaoCadastroProjeto1" style="display: none" onclick="cadastrarProjetoEspecifico()"><a href="cadastro">Cadastrar</a></button>
            <button id="botaoLoginProjeto1" style="display: none" onclick="loginProjetoEspecifico()"><a href="login">Login</a></button>
      
            <button id="botaoProjeto2" style="display: none" onclick="abrirProjetoEspecifico()">Abrir</button>
            <button id="botaoCadastroProjeto2" style="display: none" onclick="cadastrarProjetoEspecifico()">Cadastrar</button>
            <button id="botaoLoginProjeto2" style="display: none" onclick="loginProjetoEspecifico()">Login</button>
      
            <button id="botaoProjeto3" style="display: none" onclick="abrirProjetoEspecifico()">Abrir</button>
            <button id="botaoCadastroProjeto3" style="display: none" onclick="cadastrarProjetoEspecifico()">Cadastrar</button>
            <button id="botaoLoginProjeto3" style="display: none" onclick="loginProjetoEspecifico()">Login</button>
          </div> 
        </div>
      </div>
      
    <h2>Nossos Projetos</h2>
    <div class="projects">

        <div class="project">

            <img src="{{ url_for('static', filename='images/API.png') }}" alt="Projeto 1">
            <div class="project-info">
                <h3>API Registro de Usuário</h3>
                <br>
                <p><h5>Api criada com Flask para registrar usuário do próximo projeto!</h5></p>
                <br>
                <div>
                    <a href="https://github.com/DevGuilhermeg/user-registration-api" target="_blank"><button>GitHub</button></a>
                    <button onclick="abrirProjeto('API Registro de Usuário', 'API de Cadastro de Pessoas: Agora online, nossa API permite gerenciar usuários. Listar, cadastrar, excluir e fazer login são operações disponíveis. Os botões para abrir, cadastrar e fazer login estão abaixo. Explore as funcionalidades para interagir com facilidade.')">Abrir</button>
                </div>
            </div>
        </div>

        <div class="project">
            <img src="{{ url_for('static', filename='images/em-breve.jfif') }}" alt="Projeto 2">
            <div class="project-info">
                <h3>Projeto 2</h3>
                <p><h5>Em breve novos projetos</h5></p>
            </div>
        </div>

        <div class="project">
          <img src="{{ url_for('static', filename='images/em-breve.jfif') }}" alt="Projeto 3">
          <div class="project-info">
              <h3>Projeto 3</h3>
              <p><h5>Em breve novos projetos</h5></p>
          </div>
      </div>
        
    </div>
  </section>
<section class="formaca">
    <h2>Minhas Formações</h2>
    <div class="formacoes">
        <div class="formacao">
            <img src="{{ url_for('static', filename='images/python.png') }}" alt="Python">
            <div class="formacao-info">
                <h3>Python</h3>
                <p>Desenvolvimento Web com Python e Django</p>
            </div>
        </div>
        <div class="formacao">
            <img src="{{ url_for('static', filename='images/html.png') }}" alt="HTML">
            <div class="formacao-info">
                <h3>HTML 5</h3>
                <p>Curso Avançado de HTML5</p>
            </div>
        </div>
        <div class="formacao">
            <img src="{{ url_for('static', filename='images/css3.png') }}" alt="CSS">
            <div class="formacao-info">
                <h3>CSS 3</h3>
                <p>Mastering CSS Layouts</p>
            </div>
        </div>
        
        <div class="formacao">
            <img src="{{ url_for('static', filename='images/js5.png') }}" alt="JavaScript">
            <div class="formacao-info">
                <h3>JavaScript 5</h3>
                <p>JavaScript Moderno e Frameworks</p>
            </div>
        </div>

        
    </div>
</section>
<section id="contato" class="contat">
    <h2>Entre em Contato</h2>
    <div class="form-contato">
        <form id="formContato">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" rows="4" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </div>
</section>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

<footer>
    <p>&copy; 2023 DevGUI. Todos os direitos reservados.</p>
</footer>



</body>
</html>
