<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu WebSite - clone danki</title>
  <link rel="stylesheet" href="style-login.css">
  <link rel="stylesheet" href="texte.css">
</head>
<body>
    
  <header class="header">
   <!-- <img class="logo" src="images/Dev.png" alt="">-->



   <section class="logo-body">
        
        
    <a class="aa" href="index.html"><div class="logo"> DevGUI</h3> </div></a>
    
    
</section>



    <!--<nav>
        <a href="#">Home</a>
        <a id="projetos" href="#">Projetos</a>
        <a id="contato" href="#">Contato</a>
        <a href="#">Sobre-mim</a>
        <a href=""><button>Login</button></a>
        <a href=""><button>Cadastre-se</button></a>
    </nav>
    <!--<div class="head">
      <h3 class="h3"><a href="">Home</a></h3>
      <h3 class="h3"><a href="">Projetos</a></h3>
      <h3 class="h3"><a href="">Contato</a></h3>
      <h3 class="h3"><a href="">Sobre-mim</a></h3>
    </div>-->
  </header>

  <section class="conteiner">
    <div class="dentro">
      <img src="images/eu.jpg" alt="">
    </div>

    <div class="guiii">
      <div class="ff"><h1 class="text-item">Login</h1></div>
      <br></br>
      
      <div class="te">
        <input type="email" name="email" id="email">
        <input type="password" name="senha" id="senha">
        <button class="log">Logar</button>
        <h4>Ou</h4>
        <a href="cadastre-se.html"><button class="cad">Cadastre-se</button></a>
      </div>
    </div>

  </section>


  <script>
    document.getElementById('projetos').addEventListener('click', function () {
        var projetosSection = document.getElementById('projetosSection');

        if (projetosSection.style.display === 'none') {
            // Se a seção estiver oculta, exibe e aguarda 100ms para garantir que seja renderizada
            projetosSection.style.display = 'block';
            setTimeout(function() {
                projetosSection.scrollIntoView({ behavior: 'smooth' });
            }, 100);
        } else {
            // Se a seção estiver visível, rola suavemente até ela
            projetosSection.scrollIntoView({ behavior: 'smooth' });
        }
    });
    
</script>
<script>
    document.getElementById('contato').addEventListener('click', function () {
        var projetosSection = document.getElementById('mensagem');

        if (projetosSection.style.display === 'none') {
            // Se a seção estiver oculta, exibe e aguarda 100ms para garantir que seja renderizada
            projetosSection.style.display = 'block';
            setTimeout(function() {
                projetosSection.scrollIntoView({ behavior: 'smooth' });
            }, 100);
        } else {
            // Se a seção estiver visível, rola suavemente até ela
            projetosSection.scrollIntoView({ behavior: 'smooth' });
        }
    });
    
</script>
<footer>
    <p>&copy; 2023 Dev Gui. Todos os direitos reservados.</p>
</footer>



</body>
</html>