<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevGUI: Meu Mundo FullStack</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
</head>
<body>
    
  <header class="header">
  
    <section class="logo-body">

        <a class="aa" href="/"><div class="logo">&lt;DevGUI&gt;</div></a>

    </section>

    <nav class="headerr">
        <a href="/">Home</a>
        <a id="projetos" href="/#projetosSection">Projetos</a>
        <a id="contato" href="/#contato">Contato</a>
        <a href="login"><button class="button-sign-in">Login</button></a>
        <a href="cadastro"><button>Sign-in</button></a>
    </nav>
    
  </header>

  <section class="conteiner">
    <div class="dentro">
      <img src="{{ url_for('static', filename='images/eu.jpg') }}" alt="">
    </div>

    <div class="guiii">
      <div class="ff"><h1 class="text-item">Login</h1></div>
        <br></br>
        <form method="POST" action="/fazer-login">
          <div class="te">
            <input type="email" name="email" id="email">
            <input type="password" name="senha" id="senha">
            <a href="fazer-login"><button class="log">Logar</button></a>
           
          </div>
        </form>
        <h4>Ou</h4>
        <a href="cadastro"><button class="">Sign-in</button></a>
      </div>      
    </div>

  </section>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

  <footer>
      <p>
          &copy; 2023 DevGUI. Todos os direitos reservados.
      </p>
  </footer>
  
  
  
  </body>
  </html>
