<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevGUI: Meu Mundo Full Stack</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-login.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
</head>
<body>
    
  <header class="header">
   <!-- <img class="logo" src="images/Dev.png" alt="">-->



   <section class="logo-body">
        
        
    <a class="aa" href="/"><div class="logo">&lt;DevGUI&gt;</div></a>
    
    
</section>

  </header>

  <section class="conteiner">
    <div class="dentro">
      <img src="{{ url_for('static', filename='images/eu.jpg') }}" alt="">
    </div>

    <div class="guiii">
      <div class="ff"><h1 class="text-item">Login</h1></div>
        <br></br>
        <form method="POST" action="/fazer-login">
          <div class="te">
            <input type="email" name="email" id="email">
            <input type="password" name="senha" id="senha">
            <a href="fazer-login"><button class="log">Logar</button></a>
           
          </div>
        </form>
        <h4>Ou</h4>
        <a href="cadastro"><button class="">Cadastre-se</button></a>
      </div>      
    </div>

  </section>


  <script>
    document.getElementById('projetos').addEventListener('click', function () {
        var projetosSection = document.getElementById('projetosSection');

        if (projetosSection.style.display === 'none') {
            // Se a seção estiver oculta, exibe e aguarda 100ms para garantir que seja renderizada
            projetosSection.style.display = 'block';
            setTimeout(function() {
                projetosSection.scrollIntoView({ behavior: 'smooth' });
            }, 100);
        } else {
            // Se a seção estiver visível, rola suavemente até ela
            projetosSection.scrollIntoView({ behavior: 'smooth' });
        }
    });
    
</script>
<script>
    document.getElementById('contato').addEventListener('click', function () {
        var projetosSection = document.getElementById('mensagem');

        if (projetosSection.style.display === 'none') {
            // Se a seção estiver oculta, exibe e aguarda 100ms para garantir que seja renderizada
            projetosSection.style.display = 'block';
            setTimeout(function() {
                projetosSection.scrollIntoView({ behavior: 'smooth' });
            }, 100);
        } else {
            // Se a seção estiver visível, rola suavemente até ela
            projetosSection.scrollIntoView({ behavior: 'smooth' });
        }
    });
    
</script>
<footer>
    <p>&copy; 2023 DevGUI. Todos os direitos reservados.</p>
</footer>



</body>
</html>
